<p-panel header="Pipes Numericos" class="p-1">
    <p>Pipes incluidos en Angular - Viene en el common module</p>
</p-panel>


<div class="grid">

    <div class="col-12 md:col-6 lg:col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            {{ totalSells + 1234 | number:"1.2-2" }}
        </p-card>
    </div>
    
    <div class="col-12 md:col-6 lg:col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            {{ totalSells | currency:"CLP":"symbol-narrow":"1.4-4" }}
        </p-card>
    </div>
    
    <div class="col-12 md:col-6 lg:col-4">
        <p-card header="Ganacia Porcetual" subheader="del presente año">
            {{ percent | percent:"1.2-2"  }}
        </p-card>
    </div>
</div>